<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="wrap">

		<div class="tab" id="khTabWrap" style="max-width: 500px;">
			<div class="tab-btns">
				<a href="#news">News</a>
				<a href="#notice">notice</a>
				<a href="#photo">photo</a>
			</div>
			<div class="tab-contents">
				<section id="news">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto suscipit, corporis. Fugit quibusdam blanditiis dolorum, laborum cupiditate repudiandae inventore aliquid molestiae libero quasi. Natus optio doloribus, placeat! Cum, tempore, voluptas!
				</section>
				<section id="notice">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum consequuntur molestiae consectetur sed dolores iure modi enim accusamus et distinctio quia quibusdam ea ipsum, consequatur vel saepe laudantium eius sunt debitis itaque eveniet velit. Assumenda, iste cum voluptate facilis facere eos iure perspiciatis soluta error quia neque provident dolorum. Deleniti.
				</section>
				<section id="photo">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic et repudiandae nihil vel, quisquam quos, fuga temporibus quis voluptatum saepe.
				</section>
			</div>
		</div> <!-- end of tab -->

		<button class="btnOutsider">Show Notice Tab ( outsider btn )</button>
		<style>
			.btnOutsider{background-color: #eee; padding:1em; position:absolute; left:50px; top:50px; border:1px solid #666;}
		</style>

	</div>
	<!-- end of wrap -->

</body>
</html>